# React Native
/node_modules/
/android/
/ios/
*.iml
*.log
*.keystore

# Expo
.expo/
.expo-shared/

# Build output
.gradle/
build/
*.idea
*.apk
*.jks

# IDEs and editors
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Environment variables
.env
.env.*
